
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Open+Sans:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5rem;
}

button:hover {
  font-weight: 700;
  box-shadow: 1px 1px grey;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
